.button {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  color: #fff;
  padding: 13.2px 10px;
  letter-spacing: 0.5px;
  transition: all 0.2s ease 0s;
  text-align: center;
  /* width: 40.5%;
  max-width: 240px;
  width: 100%; */
  display: grid;
  grid-template: 1fr / minmax(181px, auto);
}

.button:hover {
  background: linear-gradient(55.95deg, #d33a35 0%, #ca4e06 100%);
}

.button--transparent {
  background: #0000;
  letter-spacing: 0.5px;
  color: #F75E05;
  line-height: 1.5;
  border-radius: 4px;
  border: 1px solid #F75E05;
  display: grid;
  grid-template: 1fr / minmax(126px, auto);
}

.button--transparent:hover {
  background: #0000;
  color: #bd551a;
}